{% extends "assets/layout.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-page bgk-connexion">
                    <p class="fil-arianne oswald-regular"><a href="index.php">accueil</a> / <a href="connexion.php">login</a></p>
                    <h1 class="fil-arianne-activ oswald-regular">Espace client de Jérôme Krakus</h1>
                    <a class="modele-find" href="connexion.php">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ESPACE CLIENT -->
    <div class="container">
        <div class="row">
            {% include "users/partials/admin_navigation.twig" %}
            <div class="col-xs-12 col-md-10">
                <!-- COORDONNEES CONTAINER -->
                <div class="methode-mesure methode-small">
                    <h2 class="methode-titre oswald-regular" style="margin-bottom: 30px;">Vos coordonnées</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6" style="text-align: left; margin-bottom: 30px;">
                            <p class="titre-coordonnee-recap oswald-regular">De facturation</p>
                            <ul class="ul-recap">
                                <li>Benjamin</li>
                                <li>Van Bockstaël</li>
                                <li>26 rue friant</li>
                                <li>75014</li>
                                <li>Paris</li>
                                <li>0650725219</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6" style="text-align: left; margin-bottom: 30px;">
                            <p class="titre-coordonnee-recap oswald-regular">De livraison</p>
                            <ul class="ul-recap">
                                <li>Benjamin</li>
                                <li>Van Bockstaël</li>
                                <li>26 rue friant</li>
                                <li>75014</li>
                                <li>Paris</li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <a class="modifier-info-compte" href="espace-client-modif-coordonnees.php">Modifiez vos coordonnées</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}