{% extends "assets/layout.twig" %}

{% block content %}



    <!-- HEADER CONNEXION -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-page bgk-connexion">
                    <p class="fil-arianne oswald-regular"><a href="{{ path_for('pages_index') }}">accueil</a> / <a href="{{ path_for('users_login') }}">login</a></p>
                    <h1 class="fil-arianne-activ oswald-regular">Espace client de Jérôme Krakus</h1>
                    <a class="modele-find" href="{{ path_for('users_logout') }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ESPACE CLIENT -->
    <div class="container">
        <div class="row">
            {% include "users/partials/admin_navigation.twig" %}
            <div class="col-xs-12 col-md-10">
                <!-- COMMANDES CONTAINER -->
                <div class="methode-mesure methode-small">
                    <h2 class="methode-titre oswald-regular" style="margin-bottom: 20px;">Commandes passées</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}