{% extends "assets/layout.twig" %}

{% block content %}

    <!-- HEADER CONNEXION -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-page bgk-connexion">
                    <p class="fil-arianne oswald-regular"><a href="{{ path_for('pages_index') }}">Accueil</a> / </p>
                    <h1 class="fil-arianne-activ oswald-regular">Espace client tailor george</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- CONNEXION DEJA CLIENT / NOUVEAU CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <div class="connexion-container">
                    <h2 class="h2-connexion oswald-regular">Nouveau sur tailorgeorge ?</h2>
                    <p class="p-connexion">Créez facilement votre profil mesure en quelques clics<span class="dinpro-medium">100% SATISFAIT</span></p>
                    <a href="{{ path_for('users_create') }}" class="btn-rose">suivant</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <div class="connexion-container deja-client">
                    <h2 class="h2-connexion oswald-regular">Déjà client ?</h2>
                    <p class="p-connexion">Utilisez les mesures de vos précédentes commandes ou modifiez celles-ci</p>
                    <form action="">
                        <div class="input-group">
                            <label class="label label-icone" for="email">Adresse mail</label>
                            <input class="input input-email" type="email" name="email" onfocus="activLabel(this)" onblur="activLabel(this)">
                        </div>
                        <div class="input-group">
                            <label class="label label-icone" for="mdp">Mot de passe</label>
                            <input class="input input-password" type="password" name="mdp" onfocus="activLabel(this)" onblur="activLabel(this)">
                        </div>
                        <p class="mdp-oublie">Mot de passe oublié ?</p>
                    </form>
                    <a href="{{ path_for('users_index') }}" class="btn-rose">suivant</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}