<div class="col-xs-12 col-md-2">
    <!-- SOUS NAVIGATION -->
    <ul class="espace-client-sous-nav">
        <li><a class="oswald-regular sous-nav-actif" href="{{ path_for('users_index') }}">Commandes</a></li>
        <li><a class="oswald-regular" href="{{ path_for('users_addresses') }}">Coordonnées</a></li>
        <li><a class="oswald-regular " href="{{ path_for('users_measures') }}">Mesures</a></li>
    </ul>
</div>