<header>
    <div class="name">Doublures</div>
    <div class="close">x</div>
</header>

<h2 class="first">
    Doublure
</h2>

<div class="parts">
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
    <div class="part " data-category="pockets" data-id="1" data-label="Ronde">
        <div class="img">
            <img src="/img/pictos/poche_1.svg" width="85">
        </div>
        <div class="name">Test</div>
    </div>
</div>