<h2 class="first"> Cliquez sur un élément pour le modifier</h2><br/>
<div class="parts">
    <div data-id="1" data-category="summary" class="part summary-fabric">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="2" data-category="summary" class="part summary-collar">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="3" data-category="summary" class="part summary-wrists">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="4" data-category="summary" class="part summary-pockets">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="5" data-category="summary" class="part summary-bottom">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="6" data-category="summary" class="part summary-back">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="7" data-category="summary" class="part summary-buttons">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="8" data-category="summary" class="part summary-lining">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
    <div data-id="9" data-category="summary" class="part summary-laplets">
        <div class="img"><img src=""/></div>
        <div class="name"></div>
    </div>
</div>