<option value="1">Koweït</option>
<option value="2">Açores</option>
<option value="3">Afghanistan</option>
<option value="4">Albanie</option>
<option value="5">Algérie</option>
<option value="6">Andorre</option>
<option value="7">Angola</option>
<option value="8">Anguilla</option>
<option value="9">Antigua et Barbuda</option>
<option value="10">Antilles Néerlandaises</option>
<option value="11">Arabie Saoudite</option>
<option value="12">Argentine</option>
<option value="13">Arménie</option>
<option value="14">Aruba</option>
<option value="15">Australie</option>
<option value="16">Autriche</option>
<option value="17">Azerbaïdjan</option>
<option value="18">Bahamas</option>
<option value="19">Bahreïn</option>
<option value="20">Bangladesh</option>
<option value="21">Barbade</option>
<option value="22">Belgique</option>
<option value="23">Belize</option>
<option value="24">Bénin</option>
<option value="25">Bermudes</option>
<option value="26">Bhoutan</option>
<option value="27">Bolivie</option>
<option value="28">Bosnie-Herzégovine</option>
<option value="29">Botswana</option>
<option value="30">Brésil</option>
<option value="31">Brunei</option>
<option value="32">Bulgarie</option>
<option value="33">Burkina Faso</option>
<option value="34">Burundi</option>
<option value="35">Cambodge</option>
<option value="36">Cameroun</option>
<option value="37">Canada</option>
<option value="38">Cap Vert</option>
<option value="39">Chili</option>
<option value="40">Chine</option>
<option value="41">Chypre Nord</option>
<option value="42">Chypre Sud</option>
<option value="43">Colombie</option>
<option value="44">Comores</option>
<option value="45">Congo</option>
<option value="46">Corée du Sud</option>
<option value="47">Costa Rica</option>
<option value="48">Croatie</option>
<option value="49">Danemark</option>
<option value="50">Djibouti</option>
<option value="51">Dominique</option>
<option value="52">Egypte</option>
<option value="53">El Salvador</option>
<option value="54">Emirats Arabes Unis</option>
<option value="55">Equateur</option>
<option value="56">Erythrée</option>
<option value="57">Espagne</option>
<option value="58">Estonie</option>
<option value="59">Etats-Unis</option>
<option value="60">Ethiopie</option>
<option value="61">Fidji</option>
<option value="62">Finlande</option>
<option value="63" selected="selected">France métropole</option>
<option value="64">Gabon</option>
<option value="65">Gambie</option>
<option value="66">Géorgie</option>
<option value="67">Ghana</option>
<option value="68">Gibraltar</option>
<option value="69">Grèce</option>
<option value="70">Grenade</option>
<option value="71">Guadeloupe</option>
<option value="72">Guam</option>
<option value="73">Guatemala</option>
<option value="74">Guinée</option>
<option value="75">Guinée Equatoriale</option>
<option value="76">Guyana</option>
<option value="77">Guyane Française</option>
<option value="78">Haïti</option>
<option value="79">Hawaï</option>
<option value="80">Honduras</option>
<option value="81">Hong Kong</option>
<option value="82">Hongrie</option>
<option value="83">Iles Caïmans</option>
<option value="84">Iles Canaries</option>
<option value="85">Iles Chatham</option>
<option value="86">Iles Christmas</option>
<option value="87">Iles Cocos</option>
<option value="88">Iles Faroes</option>
<option value="89">Iles Marshall</option>
<option value="90">Iles Samoa Américaines</option>
<option value="91">Iles Turques-et-Caïques</option>
<option value="92">Iles Vierges américaines</option>
<option value="93">Iles Vierges Britanniques</option>
<option value="94">Inde</option>
<option value="95">Indonésie</option>
<option value="96">Irak</option>
<option value="97">Iran</option>
<option value="98">Irlande</option>
<option value="99">Islande</option>
<option value="100">Israël</option>
<option value="101">Italie</option>
<option value="102">Jamaïque</option>
<option value="103">Japon</option>
<option value="104">Jordanie</option>
<option value="105">Kazakhstan</option>
<option value="106">Kenya</option>
<option value="107">Kirghizistan</option>
<option value="108">Kosovo</option>
<option value="109">Laos</option>
<option value="110">Lesotho</option>
<option value="111">Lettonie</option>
<option value="112">Liban</option>
<option value="113">Liberia</option>
<option value="114">Libye</option>
<option value="115">Liechtenstein</option>
<option value="116">Lituanie</option>
<option value="117">Luxembourg</option>
<option value="118">Macao</option>
<option value="119">Macédoine</option>
<option value="120">Madagascar</option>
<option value="121">Malaisie</option>
<option value="122">Malawi</option>
<option value="123">Maldives</option>
<option value="124">Mali</option>
<option value="125">Malte</option>
<option value="126">Marianne du Nord</option>
<option value="127">Maroc</option>
<option value="128">Martinique</option>
<option value="129">Maurice</option>
<option value="130">Mauritanie</option>
<option value="131">Mayotte</option>
<option value="132">Mexique</option>
<option value="133">Micronésie</option>
<option value="134">Moldavie</option>
<option value="135">Monaco</option>
<option value="136">Mongolie</option>
<option value="137">Montserrat</option>
<option value="138">Mozambique</option>
<option value="139">Myanmar</option>
<option value="140">Namibie</option>
<option value="141">Népal</option>
<option value="142">Nicaragua</option>
<option value="143">Niger</option>
<option value="144">Nigeria</option>
<option value="145">Norvège</option>
<option value="146">Nouvelle-Calédonie</option>
<option value="147">Nouvelle-Zélande</option>
<option value="148">Oman</option>
<option value="149">Ouganda</option>
<option value="150">Ouzbékistan</option>
<option value="151">Pakistan</option>
<option value="152">Palau</option>
<option value="153">Palestine</option>
<option value="154">Panama</option>
<option value="155">Paraguay</option>
<option value="156">Pays-Bas</option>
<option value="157">Pérou</option>
<option value="158">Philippines</option>
<option value="159">Pologne</option>
<option value="160">Polynésie Française</option>
<option value="161">Porto Rico</option>
<option value="162">Portugal</option>
<option value="163">Qatar</option>
<option value="164">République Centrafricaine</option>
<option value="165">Rép. Dém. du Congo</option>
<option value="166">République Dominicaine</option>
<option value="167">République Sud-Africaine</option>
<option value="168">République Tchèque</option>
<option value="169">Réunion</option>
<option value="170">Roumanie</option>
<option value="171">Royaume-Uni</option>
<option value="172">Russie</option>
<option value="173">Rwanda</option>
<option value="174">Saint Barthélemy</option>
<option value="175">Saint Martin</option>
<option value="176">Saint-Christophe-et-Niévès</option>
<option value="177">Saint-Pierre-et-Miquelon</option>
<option value="178">Saint-Vincent-et-les Grenadines</option>
<option value="179">Sainte Lucie</option>
<option value="180">Samoa</option>
<option value="181">San Marin</option>
<option value="182">Sénégal</option>
<option value="183">Serbie</option>
<option value="184">Seychelles</option>
<option value="185">Sierra-Leone</option>
<option value="186">Singapour</option>
<option value="187">Slovaquie</option>
<option value="188">Slovénie</option>
<option value="189">Soudan</option>
<option value="190">Sri Lanka</option>
<option value="191">Suède</option>
<option value="192">Suisse</option>
<option value="193">Suriname</option>
<option value="194">Swaziland</option>
<option value="195">Syrie</option>
<option value="196">Tadjikistan</option>
<option value="197">Taïwan</option>
<option value="198">Tanzanie</option>
<option value="199">Tchad</option>
<option value="200">Thaïlande</option>
<option value="201">Togo</option>
<option value="202">Tonga</option>
<option value="203">Trinité-et-Tobago</option>
<option value="204">Tunisie</option>
<option value="205">Turkménistan</option>
<option value="206">Turquie</option>
<option value="207">Allemagne</option>
<option value="208">Ukraine</option>
<option value="209">Uruguay</option>
<option value="210">Vanuatu</option>
<option value="211">Vatican</option>
<option value="212">Venezuela</option>
<option value="213">Vietnam</option>
<option value="214">Wallis-et-Futuna</option>
<option value="215">Yémen</option>
<option value="216">Zambie</option>
<option value="217">Zimbabwe</option>
<option value="218">Biélorussie</option>
<option value="219">Monténégro</option>
<option value="220">Iles salomon</option>
<option value="221">iles cook</option>
<option value="222">cuba</option>
<option value="223">Iles falkland</option>
<option value="224">iles sandwich</option>
<option value="225">Corée du Nord</option>
<option value="226">nauru</option>
<option value="227">Somalie</option>
<option value="228">Sahara</option>